<footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            {% for item in site.data.footer_links %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{{ item.link }}">
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="govuk-footer__meta-custom">
            Copyright © EA
          </div>
        </div>
      </div>
    </div>
  </footer>